/*------------ general ------------*/
#yt-enhanced-ui {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	position: relative;
	font-family: "Open Sans", sans-serif;
	margin-top: 10px;
	user-select: none;
}

/*------------ looper ------------*/
#yt-enhanced-looper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

#yt-enhanced-looper > * {
	margin: 0px 10px;
}

#yt-enhanced-looper > input {
	outline: none;
	border: none;
	width: 60px;
	height: 20px;
	border-radius: 3px;
	text-align: right;
}

#looper-counter {
	font-size: 20px;
}

#looper-image {
	height: 26px;
	width: 28px;
	cursor: pointer;
}

/*------------ slider ------------*/
#start-end-slider {
	height: 5px;
	display: flex;
	align-items: center;
	flex-grow: 1;
	position: relative;
	border: 1px solid white;
	border-radius: 10px;
	margin: 0px 10px;
}

#start-slider,
#end-slider {
	width: 14px;
	height: 14px;
	position: absolute;
	border-radius: 50%;
	background-color: white;
	cursor: pointer;
}

#start-slider {
	left: 0%;
	transform: translateX(-50%);
}

#end-slider {
	right: 0%;
	transform: translateX(50%);
}

#color-between {
	height: 100%;
	position: absolute;
	left: 0%;
	right: 0%;
	background-color: rgb(160, 160, 160);
}

/*------------ menu ------------*/
#yt-enhanced-menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#yt-enhanced-menu > .img-wrapper {
	height: 26px;
	width: 28px;
	margin: 0px 10px;
	cursor: pointer;
	position: relative;
	transform-origin: 50% 50%;
}

#yt-enhanced-menu > .img-wrapper > img {
	width: 100%;
	height: 100%;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#yt-enhanced-menu > .img-wrapper:active {
	animation: rotate 0.5s;
}

#yt-enhanced-menu > .img-wrapper:hover:after {
	display: inline-block;
	opacity: 1;
}

#yt-enhanced-menu > .img-wrapper:after {
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: -8px;
	left: -10px;
	background-color: rgba(143, 143, 143, 0.219);
	opacity: 0;
	transition: all 1s;
}
