/*------------ general ------------*/
* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	padding: 0px;
	margin: 0px;
}

* html,
body {
	width: 100%;
	height: 100%;
}

/*------------ container ------------*/
.main-container {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	flex-direction: column;
}

/*------------ export songs ------------*/
.export-songs-button {
	border: 1px solid rgb(63, 63, 63);
	border-radius: 5px;
	font-size: 14px;
	margin: 20px;
	padding: 4px;
	cursor: pointer;
	user-select: none;
	position: absolute;
	top: 5px;
	right: 5px;
}

.export-songs-button:active {
	background-color: rgb(212, 212, 212);
}

/*------------ tag feature ------------*/
.tag-filter {
	display: flex;
	margin: 20px;
	margin-top: 40px;
	max-width: 75%;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.tag-filter > .tag {
	display: flex;
	font-size: 14px;
	padding: 2px 5px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid rgb(63, 63, 63);
	margin: 10px;
}

/*------------ video listing ------------*/
.video-container {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	flex-direction: column;
}

.video {
	padding: 4px 8px;
	display: flex;
	font-size: 14px;
	width: 100%;
	cursor: pointer;
	border-radius: 3px;
}

.video:hover {
	background: rgb(193, 205, 219);
}
