body {
	width: 215px;
	height: 55px;
	font-family: "Open Sans", sans-serif;
	color: white;
	background-color: #24283b;
}

body > a {
	text-decoration: none;
	color: #437df1;
}

.open-button {
	margin: 5px 0px;
	cursor: pointer;
}
